.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper {
  margin: 20px auto;
  padding: 20px 0;
  max-width: 1000px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalAlign {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding: 20px 16px;
  }

  .heading {
    text-align: center;
  }
}
